# Vagrantfile API/syntax version. Don't touch unless you know what you're doing!
VAGRANTFILE_API_VERSION = "2"

$init = <<SCRIPT
#sudo /home/vagrant/android-sdk-linux/platform-tools/adb kill-server
#sudo /home/vagrant/android-sdk-linux/platform-tools/adb start-server
#sudo /home/vagrant/android-sdk-linux/platform-tools/adb devices
SCRIPT

# We require latest
Vagrant.require_version ">= 1.8.5"

Vagrant.configure(VAGRANTFILE_API_VERSION) do |config|
  config.vm.box = "evobox"
  config.vm.box_url = "file:///home/gokr/evo/evobox/evobox.box"
  #config.vm.box_url = "https://evothings.com/2.1/evobox.box"
  config.vm.hostname = "evobox"
  config.vm.provision :shell, run: "always", inline: $init
  config.vm.network "forwarded_port", guest: 8100, host: 8100
  config.vm.network "forwarded_port", guest: 35729, host: 35729
  config.vm.provider "virtualbox" do |vb|
    vb.customize ["modifyvm", :id, "--usb", "on"]
    vb.customize ["usbfilter", "add", "0", "--target", :id, "--name", "android", "--vendorid", "0x18d1"]
    vb.customize ["modifyvm", :id, "--memory", "2048"]
    vb.gui = false
  end
end
